useDynLib(LocallyStationaryModels)
import(RcppEigen)
importFrom(Rcpp, evalCpp)
export("find_anchorpoints","predikt","fullmodelCV","smoothing","plot.lsm","plotgrid","plotvario","variogramlsm","findsolutionslsm","findsolutions.lsm", "predict.lsm", "find_anchorpoints.lsm", "plot.parameters", "variogram.lsm")
